* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form {
    background-color: aqua;
    display: flex;
    align-items: center;
}

.form form {
    margin-right: 10px;
}

.button {
    padding: 6px 20px;
    border-radius: 6px;
    border: none;
    background-color: gray;
}

.button:hover {
    background-color: rgb(73, 70, 70);
    cursor: pointer;
}

.card {
    /* border: 1px solid red; */
    border-radius: 20px;
    width: 300px;
    min-height: 200px;
    background-color: rgb(59, 143, 115);
}

.card_imge #img {
    height: 200px;
    border-radius: 20px 20px 0 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.card__info {
    /* border: 1px solid green; */
    padding: 20px;
}

.card__info p {
    margin: 15px 0;
}

.card__info span {
    font-weight: bold;
    color: blue;
}